/* -----------HOMEPAGE --------- */

/* NAVIGATION */

/*HEADER */

#homepage {
  height: 100vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--baseColor);
}

#homepage-hero {
  z-index: 7;
  width: 50%;
  position: relative;
  z-index: 9999;
}

.hero-title {
  font-size: 4vw;
  color: var(--black);
  width: 60%;
}

.hero-message {
  margin: 1.5rem 0;
  width: 55%;
  min-width: 250px;
}

.primary-button {
  padding: 1rem;
  margin-top: 1rem;
  text-transform: uppercase;
  width: 200px;
  background-color: rgb(228, 105, 23);
  border: 2px solid var(--primaryColor);
  border-radius: 3px;
}

.primary-button a {
  color: white;
}

.dots-svg {
  position: absolute;
  left: -23px;
  top: 100px;
  z-index: 1;
  width: 34vw;
}

.form-container {
  width: 60%;
  box-shadow: -4px 1px 31px -8px rgba(189, 189, 189, 0.71);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  min-width: 400px;
  padding: 2rem 0;
}

.selection {
  width: 400px;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.selection label {
  margin-left: 20px;
  margin-bottom: -10px;
  font-weight: bold;
  font-size: 13px;
}

.selection select {
  margin: 1rem;
}

h2 {
  text-align: center;
  margin-bottom: 1rem;
}

.selection a {
  margin: 1rem;
  border: 1.5px solid rgb(0, 0, 0);
  background-color: rgb(0, 0, 0);
  padding: 0.5rem;
  color: white;
  text-align: center;
  border-radius: 3px;
  font-size: 14px;
}

#homepage-svg {
  width: 100px;
  animation: scale 1.5s forwards;
  align-self: center;
}

@keyframes scale {
  from {
    transform: scale(0.5);
  }

  to {
    transform: scale(0.9);
  }
}

/* HOW TO SECTION */

/* FOOTER */

footer {
  height: 70px;
  border-top: 1px solid rgb(199, 196, 196);
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  font-size: 12px;
  color: rgb(133, 133, 133);
  background-color: var(--baseColor);
}

footer ul {
  display: flex;
  justify-content: center;
}

.footer-link {
  margin: 0.5rem;
}
