:root {
  --primaryColor: rgb(228, 105, 23);
  --baseColor: rgb(243, 243, 243);
  --black: rgb(41, 41, 41);
  --formColor: rgb(252, 217, 141);
  /* --formColor:               rgb(248, 232, 201); */
  --buttonColor: #000000;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Lato", sans-serif;
}

body {
  width: 100%;
  overflow-x: hidden;
  background-color: var(--baseColor);
}

a {
  text-decoration: none;
  color: black;
}

footer {
  position: "absolute";
  left: 0;
  right: 0;
  bottom: 0;
  height: "15vh";
  border-top: "1px solid grey";
  display: "flex";
  flex-direction: "column";
  textalign: "center";
  justifycontent: "center";
}
