.card-container {
  display: flex;
  margin: 1px;
  width: 50%;
  background-color: aqua;
  align-items: center;

}

.card-container ul {
  margin: 1rem;
  min-width: 250px;
}

.card-container li {
  margin: 0.5rem 0rem;
}
