#homepage {
  height: 100vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--baseColor);
}

@keyframes border {
  from {
    border-radius: 0px;
  }
  to {
    border-radius: 0px 0px 25% 25%;
  }
}

@keyframes removeborder {
  from {
    border-radius: 0px 0px 25% 25%;
  }
  to {
    border-radius: 0px;
  }
}

.homepage-hero {
  width: 50%;
}

.homepage-hero h1 {
  font-size: 4vw;
  color: var(--black);
  width: 60%;
}

.homepage-hero p {
  margin: 1.5rem 0;
  width: 55%;
  min-width: 250px;
}

.svg {
  width: 40%;
}

.homepage-hero .primary-button,
.secondary-button {
  padding: 1rem;

  margin-top: 1rem;
  text-transform: uppercase;
  width: 200px;
}

.primary-button {
  background-color: rgb(228, 105, 23);
  border: 1px solid var(--primaryColor);
}

.secondary-button {
  border: 2px solid var(--primaryColor);
}

button {
  border-radius: 5px;
  cursor: pointer;
}

.primary-button {
  margin-right: 0.5rem;
}

/* HOW DOES IT WORK SECTION */

#how-does-it-work {
  margin-top: 3rem;
  width: 100%;
  height: 100vh;
  padding: 3rem 0;
}

#how-does-it-work h2 {
  text-align: center;
  margin-bottom: 2rem;
  font-size: 2rem;
}

#how-does-it-work .container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

#how-does-it-work .container .card {
  width: calc(100% / 4);
  background-color: var(--baseColor);
  margin: 1rem;
  display: flex;
  flex-direction: column;
  padding: 2rem;
  min-width: 300px;
  border-radius: 10px;
}

#how-does-it-work .container img {
  width: 70%;
}

.card-one {
  transform: translate(-100%);
}

.card-two {
  transform: translateY(50%);
}
.card-three {
  transform: translate(100%);
}

@keyframes slideRight {
  from {
    transform: translate(-100%);
  }
  to {
    transform: translate(0%);
  }
}

@keyframes slideUp {
  from {
    transform: translateY(50%);
  }
  to {
    transform: translate(0%);
  }
}

@keyframes slideLeft {
  from {
    transform: translate(100%);
  }
  to {
    transform: translate(0%);
  }
}

/* SVG */

#homepage-svg {
  width: 45vw;
  animation: scale 1.5s forwards;
}

@keyframes scale {
  from {
    transform: scale(0.5);
  }

  to {
    transform: scale(0.9);
  }
}

/* media */
@media (max-width: 500px) {
  #homepage h1 {
    background-color: red;
    width: 100%;
  }

  #homepage {
    flex-direction: column-reverse;
  }
  .buttons {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .buttons button {
    margin-top: 0.5rem;
  }
}
