/*HEADER */

#homepage {
  width: 100%;
  min-height: 100vh;
  display: flex;
}

.hero-title {
  text-transform: uppercase;
  font-size: 3.2vw;
}

.flex {
  min-height: 100vh;
  width: 60%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#homepage-hero {
  width: 80%;
  margin-left: 3rem;
}

.image-container {
  width: 50%;
  height: 100vh;
}

#homepage .bg-image {
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 100vh;
}

.hero-message {
  margin: 2rem 0;
  color: grey;
}

.primary-color {
  color: var(--primaryColor);
}

/* form */

#homepage-hero form {
  background-color: var(--baseColor);
  box-shadow: 5px 5px 15px 5px rgba(0, 0, 0, 0.12);
  display: flex;
  align-items: center;
  height: 60px;
  position: absolute;
  margin-top: 2rem;
}

#homepage-hero form select {
  padding: 1rem 0;
  border: none;
  text-align: left;
  margin: 1rem;
}

#find {
  background-color: var(--primaryColor);

  border: 1px solid transparent;
  padding: 1.35rem 3rem;
  margin-right: -10px;
  border-radius: 0;
}

#find a {
}

/* HOW DOES IT WORK SECTION */

#how-does-it-work {
  margin-top: 6rem;
  position: relative;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  min-height: 100vh;
}

.divider {
  width: 150px;
  height: 2px;
  background-color: var(--primaryColor);
  margin: 0.5rem 0;
}

#how-does-it-work h2,
#how-does-it-work .additional-info {
  margin: 1rem 0;
  text-align: center;
}

.additional-info {
  width: 60%;
}

#how-does-it-work p {
  color: grey;
}

#how-does-it-work .container {
  display: flex;
  width: 100%;
  flex-wrap: wrap;
  justify-content: space-evenly;
  background-color: #171717;
  align-items: center;
  margin-top: 5rem;
  background-size: cover;
  background-attachment: fixed;
  min-height: 70vh;
  background-position: center;
}

.card {
  border: 1px solid black;
  padding: 2rem;
  width: calc(100% / 4);
  background-color: white;
  border: none;
  min-height: 400px;
  box-shadow: 5px 5px 15px 5px rgba(0, 0, 0, 0.12);
  min-width: 300px;
}

.card p {
  text-align: left;
}

/* Statitics */

#statistics {
  width: 100%;
  padding: 2rem;
  min-height: 70vh;
  display: flex;
  align-items: center;
  color: white;
  background-color: #171717;
  justify-content: space-around;
}

#statistics .wrapper {
  width: 50%;
  display: flex;
}

.transparent-card {
  margin: 2rem;
  border: 1px solid grey;
  padding: 3rem;
  width: 550px;
}
.transparent-card h3 {
  font-size: 2rem;
}

.transparent-card p {
  width: 80%;
  margin-top: 2rem;
  color: grey;
}

@media (max-width: 600px) {
  #homepage-hero form {
    flex-direction: column;
    background-color: transparent;
    box-shadow: none;
  }
  form select,
  form button {
    width: 300px;
  }

  .hero-title {
    font-size: 30px;
  }

  #homepage p {
    text-align: left;
  }

  #homepage-hero form button {
    padding: 1.4rem 2rem;
  }

  .image-container {
    width: 100%;
  }

  .flex {
    position: absolute;
    width: 100%;
    background-color: rgba(255, 255, 255, 0.925);
    justify-content: center;
    text-align: center;
  }

  #homepage p {
    width: 100%;
    padding: 1rem;
    text-align: center;
  }

  .card {
    margin-top: 0%;
    margin-bottom: 2rem;
    height: auto;
  }
  .additional-info {
    width: 100%;
  }

  #homepage-hero form {
    margin-top: 0;
  }
  #find {
    margin: 0;
    border-radius: 5px;
  }

  #statistics {
    flex-direction: column;
  }

  #statistics .wrapper {
    width: 100%;
    flex-direction: column;
    align-items: center;
  }

  .transparent-card {
    width: 300px;
  }
}

option {
  position: absolute;
}
