/* SVG */

.homepage-form {
  width: 70%;
  box-shadow: -4px 1px 31px -8px rgba(166, 166, 166, 0.71);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  min-width: 400px;
  padding: 2rem;


}

.selection label {
  margin-left: 20px;
  margin-bottom: -10px;
  font-weight:bold;
  font-size: 13px; 
}

.selection  select {
  margin: 1rem;
}

h2 {
  text-align: center;
  margin-bottom: 1rem;
}
.selection {
  width: 400px;

  padding: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;

}

.selection button{
  margin: 1rem;
  border: 1.5px solid rgb(105, 73, 51);
  padding: 0.5rem;
  color: rgb(99, 65, 42);
  font-size: 16px,;
}

#homepage-svg {
  width: 100px;
  animation: scale 1.5s forwards;
  align-self: center;
}

@keyframes scale {
  from {
    transform: scale(0.5);
  }

  to {
    transform: scale(0.9);
  }
}
