/* SVG */

.homepage-form {
  width: 400px;
  height: 400px;
  background-color: aquamarine;
  display: flex;
  flex-direction: column;
}
.homepage-form form {
  width: 400px;
  height: 400px;
  background-color: aqua;
  display: flex;
  flex-direction: column;
}

#homepage-svg {
  width: 200px;
  animation: scale 1.5s forwards;
}

@keyframes scale {
  from {
    transform: scale(0.5);
  }

  to {
    transform: scale(0.9);
  }
}
