/* SVG */

.homepage-form {
  width: 400px;
  height: 400px;
  background-color: aquamarine;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.selection {
  width: 400px;
  height: 400px;
  background-color: rgb(255, 153, 0);
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#homepage-svg {
  width: 150px;
  animation: scale 1.5s forwards;
  align-items: center;
}

@keyframes scale {
  from {
    transform: scale(0.5);
  }

  to {
    transform: scale(0.9);
  }
}
