#profile {
  padding-top: 11rem;
  display: flex;
}

.profile-menu {
  width: 200px;
  background-color: var(--primaryColor);
  height: 100vh;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.profile-menu ul {
  align-self: center;
}

.avatar {
  background-image: url("https://images.pexels.com/photos/842980/pexels-photo-842980.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500");
  background-position: center;
  width: 100px;
  height: 100px;
  background-size: cover;
  border-radius: 100%;
  position: relative;
  margin-top: -50px;
}

.homeswap-form {
  width: 100%;
  display: flex;
  justify-content: center;
}

.homeswap-form form {
  width: 40%;
  min-width: 350px;
  background-color: var(--formColor);
  margin: 1rem;
  padding: 2rem;
  display: flex;
  flex-direction: column;
}

.homeswap-form form h3 {
  margin-bottom: 2rem;
  text-align: center;
}

.homeswap-form input {
  padding: 0.3rem 1rem;
  margin: 0.5rem;
  width: 250px;
}

.container-row {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}

.container-column {
  display: flex;
  flex-direction: column;
  align-content: center;
}

/* select {
  padding: 0.3rem 1rem;
  margin: 0.5rem;
}

select,
input,
textarea {
  min-width: 250px;
} */
textarea {
  margin: 0.5rem;
}

hr {
  width: 100%;
  color: var(--baseColor);
}
