.st0 {
  fill: #e6e6e6;
}
.st1 {
  fill: var(--primaryColor);
}
.st2 {
  fill: #272727;
}
.st3 {
  fill: var(--primaryColor);
}
.st4 {
  fill: #ffffff;
}
.st5 {
  fill: var(--primaryColor);
}
.st6 {
  fill: #bd828b;
}
.st7 {
  fill: #2f2e41;
}
