/* -----------HOMEPAGE --------- */

/* NAVIGATION */

/*HEADER */

#homepage {
  height: 100vh;
  width: 100%;
  padding: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--baseColor);
  flex-wrap: nowrap;
}

#homepage-hero {
  z-index: 7;
  width: 60%;
  position: relative;
  z-index: 9999;
}

.hero-title {
  font-size: 4vw;
  color: var(--black);
  width: 60%;
}

.hero-message {
  margin: 1.5rem 0;
  width: 55%;
  min-width: 250px;
}

.primary-button {
  padding: 1rem;
  margin-top: 1rem;
  text-transform: uppercase;
  width: 200px;
  background-color: rgb(228, 105, 23);
  border: 2px solid var(--primaryColor);
  border-radius: 3px;
}

.primary-button a {
  color: white;
}

.dots-svg {
  position: absolute;
  left: -23px;
  top: 100px;
  z-index: 1;
  width: 34vw;
}

.form-container {
  width: 60%;
  box-shadow: -4px 1px 31px -8px rgba(189, 189, 189, 0.71);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  min-width: 400px;
  padding: 2rem 0;
}

.selection {
  width: 400px;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.selection label {
  margin-left: 20px;
  margin-bottom: -10px;
  font-weight: bold;
  font-size: 13px;
}

.selection select {
  margin: 1rem;
}

h2 {
  text-align: center;
  margin-bottom: 1rem;
}

.selection a {
  margin: 1rem;
  border: 1.5px solid rgb(0, 0, 0);
  background-color: rgb(0, 0, 0);
  padding: 0.5rem;
  color: white;
  text-align: center;
  border-radius: 3px;
  font-size: 14px;
}

#homepage-svg {
  width: 100px;
  animation: scale 1.5s forwards;
  align-self: center;
}

@keyframes scale {
  from {
    transform: scale(0.5);
  }

  to {
    transform: scale(0.9);
  }
}

@media screen and (max-width: 800px) {
  #homepage-hero {
    display: none;
  }
}

/* HOW TO SECTION */

#how-does-it-work {
  margin-top: 3rem;
  width: 100%;
  min-height: 100vh;
  padding: 3rem;
  height: "auto";
  overflow: "hidden";
}
.divider {
  width: 150px;
  background-color: rgb(228, 105, 23);
  height: 3px;
  margin: 10px auto;
}

#how-does-it-work h2 {
  text-align: center;
  margin-bottom: 2rem;
  font-size: 2rem;
}

.additional-info {
  width: 50%;
  display: block;
  margin: 0 auto;
  text-align: center;
  margin-bottom: 2rem;
  min-width: 300px;
}

.container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

#how-does-it-work .card {
  width: calc(100% / 4);
  background-color: white;
  margin: 1rem;
  display: flex;
  flex-direction: column;
  padding: 2rem;
  min-width: 300px;
  border-radius: 10px;
}

#how-does-it-work .container img {
  width: 70%;
}

.card-one {
  transform: translate(-90%);
}

.card-two {
  transform: translateY(40%);
}
.card-three {
  transform: translate(90%);
}

@keyframes slideRight {
  from {
    transform: translate(-100%);
  }
  to {
    transform: translate(0%);
  }
}

@keyframes slideUp {
  from {
    transform: translateY(50%);
  }
  to {
    transform: translate(0%);
  }
}

@keyframes slideLeft {
  from {
    transform: translate(100%);
  }
  to {
    transform: translate(0%);
  }
}

@keyframes transformUp {
  from {
    transform: translateY(0);
  }

  to {
    transform: var(--screenTop);
  }
}

/* media */
@media (max-width: 500px) {
  #homepage h1 {
    width: 100%;
    font-size: 30px;
  }

  #homepage-svg {
    width: 150px;
    margin-top: -30px;
  }

  #homepage {
    flex-direction: column-reverse;
  }
  .buttons {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .buttons button {
    margin-top: 0.5rem;
    font-size: 11px;
  }
  .primary-button {
    margin-right: 0;
  }
}

/* dots */
.st0 {
  fill: #d1d3d4;
}

/* FOOTER */

footer {
  height: 70px;
  border-top: 1px solid rgb(199, 196, 196);
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  font-size: 12px;
  color: rgb(133, 133, 133);
  background-color: var(--baseColor);
}

footer ul {
  display: flex;
  justify-content: center;
}

.footer-link {
  margin: 0.5rem;
}
