.auth-container {
  display: flex;
}

.auth-bg {
  height: 100vh;
  width: 50%;
  background-size: cover;
  background-position: center;
}

/* wraps the whole auth component */
.auth-form {
  width: 50%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

#auth-form-wrapper {
  height: 70vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  width: 100%;
  align-items: center;
}

#auth-form-wrapper form {
  height: 50vh;
  display: flex;
  width: 60%;
  flex-direction: column;
  margin: 1rem;
}

#auth-form-wrapper form input {
  padding: 1rem 2rem;
  border-radius: 3px;
  border: 1px solid grey;
  margin: 1rem;
}

.input-container {
  display: flex;
  flex-direction: column;
  text-align: left;
}

label {
  margin-left: 1.5rem;
}

.auth-form button {
  border-radius: 3px;
  border: 1px solid var(--primaryColor);
  background-color: var(--primaryColor);
  padding: 1rem 2rem;
  margin: 2rem 1rem;
  color: white;
  font-size: 15px;
}

@media (min-width: 601px) and (max-width: 1100px) {
  .auth-form {
    width: 60%;
  }
  #auth-form-wrapper form {
    width: 80%;
  }
}

@media (max-width: 600px) {
  .auth-form {
    position: absolute;
    background-color: rgba(255, 255, 255, 0.836);
    width: 100%;
  }

  .auth-bg {
    width: 100%;
  }

  #auth-form-wrapper form {
    width: 80%;
  }
}
