.homeswap-form {
  width: 100%;
  display: flex;
  justify-content: center;
}

.homeswap-form form {
  width: 40%;
  min-width: 350px;
  background-color: var(--formColor);
  margin: 1rem;
  padding: 2rem;
  display: flex;
  flex-direction: column;
}

.homeswap-form form h3 {
  margin-bottom: 2rem;
  text-align: center;
}

.homeswap-form input {
  padding: 0.3rem 1rem;
  margin: 0.5rem;
  width: 250px;
}

.container-row {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}

.container-column {
  display: flex;
  flex-direction: column;
  align-content: center;
}

select {
  padding: 0.3rem 1rem;
  margin: 0.5rem;
}

select,
input,
textarea {
  min-width: 250px;
}
textarea {
  margin: 0.5rem;
}

hr {
  width: 100%;
  color: var(--baseColor);
}
